header {
    background: linear-gradient(190deg, rgba(5,11,17,1) 0%, rgba(22,73,103,1) 100%);
    color: white;
    margin-bottom: -2rem;

    a {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1rem;
        line-height: 1rem;
        padding: 2rem;
        color: rgb(151, 151, 151);
    }

    .today {
        padding: 2rem 2rem 4rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        // Search
        input {
            all: unset;
            background-color: rgba(white, .1);
            height: 2.5rem;
            max-width: 80%;  
            border-radius: 2rem;
            padding: 0 1rem;

            &::placeholder {
                color: rgba(white, .4);
            }
        }
    }
}